.ipynb_checkpoints/
/.env
myenv/
config/
myenv-3-10/
*.ipynb~
.DS_Store
Thumbs.db
__pycache__/
*.py[cod]
*.so
*.log
*.swp
*.bak
*.tmp
node_modules/
.idea/
.vscode/
*.iml
*.class
*.exe
*.dll
*.out
*.a
*.o
*.tgz
*.gz
*.zip
*.tar
*.rar
*.7z
*.dat
*.db
*.sqlite3
*.lock
*.pid
*.env
*.python-version